@import 'variables.scss';

// media-queries:
//@media (min-width: 576px) { ... }   // Small devices (landscape phones, 576px and up)
//@media (min-width: 768px) { ... }   // Medium devices (tablets, 768px and up)
//@media (min-width: 992px) { ... }   // Large devices (desktops, 992px and up)
//@media (min-width: 1200px) { ... }  // Extra large devices (large desktops, 1200px and up)


#body {
  .clientspage-search-div {
    margin-bottom: 10px;

    .search-for {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;

      padding: 10px;

      @media (min-width: 576px) {
        justify-content: end;
      }

      div {
        @media (min-width: 768px) {
          text-align: right;
        }

        label {
          margin: 0;
        }
      }
    }

    .create-new {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;

      padding: 10px;
    }
  }

  #accordion-costumers {
    .card-header {
      h4 {
        font-size: $size-header;
      }
    }

    .collapse {
      .form-group {
        .btn {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
  }
}